<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zxm.fast.permission">
    <application>
        <provider android:authorities="${applicationId}.permission.provider"
                  android:name=".InitProvider"
                  android:multiprocess="true"
                  android:exported="false"/>
    </application>
</manifest>
